<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.diagnostics>
    <sources>
      <source name="WinAppDriver" switchValue="Verbose">
        <listeners>
          <add name="coloredconsole" />
          <!--add name="rollingfile" /-->
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="coloredconsole"
           type="Essential.Diagnostics.ColoredConsoleTraceListener, Essential.Diagnostics"
           template="{LocalDateTime:yyyy-MM-dd HH:mm:ss.fff} [{EventType}] {Source}: {Message}{Data}"
           convertWriteToEvent="true"
           criticalColor="Red"
           errorColor="Magenta"
           warningColor="Yellow"
           informationColor="Green"
           verboseColor="DarkGray">
        <!--
          Writes to the console output or error stream, using color to highlight
          event types and allowing a customised output format.
          See: http://essentialdiagnostics.codeplex.com/wikipage?title=ColoredConsoleTraceListener
        -->
      </add>
      <add name="rollingfile"
           type="Essential.Diagnostics.RollingFileTraceListener, Essential.Diagnostics"
           initializeData="C:\Users\{YourUserNameHere}\AppData\Local\WinAppDriver\{LocalDateTime:yyyy-MM-dd}.log"
           template="{LocalDateTime:yyyy-MM-dd HH:mm:ss.fff} [{EventType}] {Source}: {Message}{Data}"
           convertWriteToEvent="true">
        <!--
          Writes to a text file, rolling to a new file based on a filename template
          (usually including the date).
          See: http://essentialdiagnostics.codeplex.com/wikipage?title=RollingFileTraceListener
        -->
        <!--filter type="System.Diagnostics.EventTypeFilter" initializeData="Warning" /-->
      </add>
    </sharedListeners>
    <trace autoflush="true" indentsize="0">
      <listeners>
        <!--
          Legacy Trace.Write() statements (not using a TraceSource).
          Turn indent off to avoid confusion for multithreaded traces,
          and clear the default listener for performance.
        -->
        <clear />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>
